.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogItems {
    padding: 10px;
}

.dialog a{
    color: #1B221B;
    text-decoration: none;
}

.messages {
    padding: 10px;
}

.message {

}

.active {
    color: #27aae1;
    text-decoration: none;
}