.nav {
    grid-area: n;
    background-color: #555555;
}

.item {
    color: white;
    text-decoration: none;
}

.active {
    text-decoration: black;
    color: #27aae1;
}
.item:hover {
    color: #27aae1;
}